- name: Copy longhorn values file to remote
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/../../../cluster/system/longhorn/values.yml"
    dest: /tmp/longhorn-values.yml
    mode: "0644"

- name: Add longhorn helm repository
  kubernetes.core.helm_repository:
    name: longhorn
    repo_url: https://charts.longhorn.io
    state: present

- name: Install longhorn
  kubernetes.core.helm:
    name: longhorn
    chart_ref: longhorn/longhorn
    chart_version: 1.10.1
    release_namespace: longhorn
    create_namespace: true
    values:
      crds:
        enabled: true
    values_files:
      - /tmp/longhorn-values.yml
    state: present
    release_state: deployed

- name: Remove values file
  ansible.builtin.file:
    path: /tmp/longhorn-values.yml
    state: absent

- name: Apply provisioning items [StorageClasses, Cronjobs...]
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', playbook_dir ~ '/../../../cluster/system/longhorn/provisioning.yml') | from_yaml_all }}"

- name: Apply Longhorn UI ingress route
  vars:
    DOMAIN: "{{ domain }}"
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', playbook_dir ~ '/../../../cluster/system/longhorn/ingress-routes.yml') | from_yaml_all }}"
