- name: Create longhorn namespace
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: longhorn
    state: present

- name: Set architecture mapping
  ansible.builtin.set_fact:
    longhorn_arch: >
      "{{ 'amd64' if ansible_facts.architecture == 'x86_64'
          else 'arm64' if ansible_facts.architecture == 'aarch64'
          else ansible_facts.architecture }}"
    version: "v1.10.1"

- name: Download longhornctl CLI
  ansible.builtin.get_url:
    url: "https://github.com/longhorn/cli/releases/download/{{ version }}/longhornctl-linux-{{ longhorn_arch }}"
    dest: "/tmp/longhornctl"
    mode: "0755"

- name: Run pre-installation requirements
  ansible.builtin.command:
    cmd: >
      /tmp/longhornctl
      --kubeconfig {{ ansible_facts.env.HOME }}/.kube/config
      --image longhornio/longhorn-cli:{{ version }}
      install preflight
      --namespace longhorn

- name: Remove longhornctl CLI
  ansible.builtin.file:
    path: "/tmp/longhornctl"
    state: absent
