[defaults]
# default inventory location
inventory = ./ansible/inventory/hosts.yaml
roles_path = ./ansible/roles
collections_path = ./ansible/collections
# disables deprecation warnings
deprecation_warnings = False
# reuse SSH connections
forks = 10
timeout = 30
# YAML output
result_format=yaml

[ssh_connection]
# enables multiplexing
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True

[privilege_escalation]
# use sudo for privilege escalation
become = True
become_method = sudo
