(network_paths) {
  handle_path /pihole/* {
    reverse_proxy /* pihole:80
  }
  handle_path /portainer/* {
    reverse_proxy /* portainer:9000
  }
  
  handle_path /grafana/* {
    reverse_proxy grafana:3000  
  }

  handle_path /umami/* {
    reverse_proxy /* umami:3000  
  }

  # @umami {
	#   header Referer *umami*
  # }
  # reverse_proxy @umami /* umami:3000

  respond 404
}

{$SERVER_URL} {
  import network_paths
}
