services:
  netbird:
    image: netbirdio/netbird:latest
    container_name: netbird
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
    network_mode: host
    environment:
      - NB_ALLOW_SERVER_SSH=true
    env_file:
      - .env
    volumes:
      - ./data:/var/lib/netbird
  watchtower:
    image: nickfedor/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    command: --cleanup --schedule "0 4 * * *"
    environment:
      WATCHTOWER_NOTIFICATION_URL: "discord://${WEB_HOOK_ID}@${TOKEN}"
      WATCHTOWER_NOTIFICATION_TEMPLATE: |-
        {{range .}}{{.Time.Format "12-01-2020 15:04:05"}} ({{.Level}})':' {{.Message}}{{println}}{{end}}
