services:
  frps-canopy:
    image: ghcr.io/fatedier/frps:v0.65.0
    container_name: frps-canopy
    volumes:
      - ./frps.toml:/etc/frp/frps.toml
    restart: always
    env_file:
      - .env
    ports:
      - "7000:7000" # FRP control port
      - "7000:7000/udp" # FRP control port UDP
      - "9001:9001" # node-1.{$DOMAIN}:9001
      - "9002:9002" # node-2.{$DOMAIN}:9002
    command: ["-c", "/etc/frp/frps.toml"]
    networks:
      - canopy
  frpc-canopy:
    image: ghcr.io/fatedier/frpc:v0.65.0
    container_name: frpc-canopy
    env_file:
      - .env
    volumes:
      - ./frpc_server.toml:/etc/frp/frpc.toml
    restart: always
    ports:
      - "7500:7500" # server dashboard port
    command: ["-c", "/etc/frp/frpc.toml"]
    networks:
      - canopy
networks:
  canopy:
    name: canopy
    driver: bridge
