(network_paths) {
  handle_path /portainer/* {
    reverse_proxy /* portainer:9000
  }
  
  handle_path /grafana/* {
    reverse_proxy grafana:3000  
  }

  handle_path /omv/* {
    reverse_proxy /*  172.17.0.1:2010
  }

  respond 404
}

{$SERVER_URL} {
  import network_paths
}
