(network_paths) {
  redir /portainer /portainer/
  redir /grafana /grafana
  redir /omv  /omv/
  redir /syncthing /syncthing/

  handle_path /portainer/* {
    reverse_proxy /* portainer:9000
  }
  
  handle_path /grafana/* {
    reverse_proxy grafana:3000  
  }

  handle_path /omv/* {
    reverse_proxy /*  host.docker.internal:2010
  }

  handle_path /syncthing/* {
    reverse_proxy /*  host.docker.internal:8384
  }

  respond 404
}

{$SERVER_URL} {
  import network_paths
}
