prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
grafana:
  enabled: true
  namespaceOverride: ""
  # enable local-path persistence for grafana
  persistence:
    enabled: true
    storageClassName: longhorn
    accessModes:
      - ReadWriteOnce
    size: 2Gi
  sidecar:
    datasources:
      enabled: true
      defaultDatasourceEnabled: false
    dashboards:
      enabled: true
      defaultFolderName: null
      provider:
        foldersFromFilesStructure: true
  # follows the issue below in order to import the additional dashboards at installation
  # https://github.com/prometheus-community/helm-charts/issues/2477#issuecomment-1276224026
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: provider-site
          orgId: 1
          folder: ""
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/provider-site
  dashboards:
    provider-site:
      node-exporter-full:
        gnetId: 1860
        revision: 42
        datasource: Prometheus
  datasources:
    # load the default prometheus and loki datasources
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          uid: prometheus
          type: prometheus
          access: proxy
          url: http://prometheus-operated:9090
          isDefault: true
          version: 1
          jsonData: {}
        - name: Loki
          uid: loki
          type: loki
          access: proxy
          url: http://loki:3100
          isDefault: false
          version: 1
          jsonData: {}
alertmanager:
  enabled: false
