prometheus:
  prometheusSpec:
    nodeSelector:
      node-role.kubernetes.io/control-plane: "true"
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn-local
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 8Gi

grafana:
  enabled: true
  namespaceOverride: ""
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
  adminUser: testuser # should be overridden
  adminPassword: testPassword123 # should be overridden
  persistence:
    enabled: true
    storageClassName: longhorn-local
    accessModes:
      - ReadWriteOnce
    size: 1Gi
  sidecar:
    datasources:
      enabled: true
      defaultDatasourceEnabled: false
    dashboards:
      enabled: true
      defaultFolderName: null
      provider:
        foldersFromFilesStructure: true
    alerts:
      enabled: true
      label: grafana_alert
      labelValue: "1"
  # follows the issue below in order to import the additional dashboards at installation
  # https://github.com/prometheus-community/helm-charts/issues/2477#issuecomment-1276224026
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: provider-site
          orgId: 1
          folder: ""
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/provider-site
  dashboards:
    provider-site:
      node-exporter-full:
        gnetId: 1860
        revision: 42
        datasource: Prometheus
  datasources:
    # load the default prometheus and loki datasources
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          uid: prometheus
          type: prometheus
          access: proxy
          url: http://prometheus-operated:9090
          isDefault: true
          version: 1
          jsonData: {}
        - name: Loki
          uid: loki
          type: loki
          access: proxy
          url: http://loki:3100
          isDefault: false
          version: 1
          jsonData: {}
  # alerting:
  #   contactpoints.yml:
  #     secret:
  #       apiVersion: 1
  #       contactPoints:
  #         - orgId: 1
  #           name: discord
  #           receivers:
  #             - uid: discord_alert
  #               type: discord
  #               settings:
  #                 message: |
  #                   {{ `{{ if eq .Status "firing" }}[FIRING:{{ len .Alerts.Firing }}]{{ else }}[RESOLVED]{{ end }} {{ .CommonLabels.alertname }} ({{ .CommonAnnotations.summary }})` }}
  #                 url: ""
  #                 use_discord_username: false
  #               disableResolveMessage: false
alertmanager:
  enabled: false

# prometheusOperator:
#   nodeSelector:
#     node-role.kubernetes.io/control-plane: "true"

kube-state-metrics:
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
