apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../base

nameSuffix: -main-1

labels:
  - pairs:
      app: node-main-1
    includeSelectors: true

namespace: canopy

patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/nodeSelector
        value:
          type: vm
    target:
      kind: Deployment
      name: node
  - path: config-map.yml
    target:
      kind: ConfigMap
      name: node
  - patch: |-
      - op: replace
        path: /spec/routes/0/services/0/name
        value: node-main-1
      - op: replace
        path: /spec/routes/1/services/0/name
        value: node-main-1
      - op: replace
        path: /spec/routes/2/services/0/name
        value: node-main-1
      - op: replace
        path: /spec/routes/3/services/0/name
        value: node-main-1
    target:
      kind: IngressRoute
      name: main
components:
  - ../../../components/chain-1
