# Location: /etc/systemd/system/ip6table-filter.service

[Unit]
Description=Load ip6table_filter at startup

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ip6table-filter.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

# To enable it:
# sudo systemctl enable ip6table-filter.service
