[Unit]
Description=Mount ISCSI volume at boot

[Service]
ExecStart=/usr/bin/mount_iscsi 10.0.0.95 {VOLUME_NAME} /longhorn false

[Install]
WantedBy=multi-user.target

# File location:
# /etc/systemd/system/mount_iscsi.service

# To enable:
# sudo systemctl daemon-reload
# sudo systemctl enable mount_iscsi.service
